@keyframes rotateY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes button-debounce {
  0% {
    transform: scale(0.7);
  }
  40% {
    transform: scale(1.15);
  }
  60% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes deletor-slide-down {
  0% {
    transform: rotate(60deg);
    transform-origin: top right;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: top right;
  }
}

@keyframes deletor-slide-up {
  0% {
    transform: rotate(0deg);
    transform-origin: top right;
  }
  100% {
    transform: rotate(60deg);
    transform-origin: top right;
  }
}
