@keyframes rotateY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes button-debounce {
  0% {
    transform: scale(0.7);
  }
  40% {
    transform: scale(1.15);
  }
  60% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slide-to-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-to-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes slide-in-from-right {
  0% {
    opacity: 0.3;
    transform: translateX(10%);
  }
  20% {
    opacity: 0.8;
    transform: translateX(2%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}