.empty-view-container {
  &.editable {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
  }
}
.empty-view-container, .view-container {
  &.editable {
    border: 1px dashed #999;
    padding: 8px;
  }
}
